html,
body {
  display: flex;
  justify-content: center;
  width: 100%;
}
html {
  height: 100%;
  background: whitesmoke;
}

.navtab {
  background: rgba(57, 159, 227, 0.756);
  color: white;
  border-radius: 8px;
  margin-top: 10px;
}
.result {
  box-sizing: border-box;
  background: #ffffffb3;
  padding-bottom: 20px;
}
.resultbox {
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 10px;
  height: 80vh;
  overflow: auto;
}
.cardbox {
  background: #ffffff9c;
  color: black;
  box-sizing: border-box;
  padding: 10px 0 10px 20px;
  margin-bottom: 5px;
  border: 1px solid lightblue;
}
.kotitle {
  font-size: larger;
  font-weight: bold;
}
.entitle {
  font-size: 14px;
  font-weight: 350;
}
.explain {
  font-weight: 600;
}
.footer {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

.searchbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-right: 5px;
}
.searchicon {
  cursor: pointer;
}
.result-area {
  margin: 10px 0 10px 0;
}
